version: '3'
services:
  cronjob:
    build:
      context: .
    image: sentry_cronjob:latest
    environment: 
      - BP_NAME=
      - TELEGRAM_TOKEN=
      - API_HOSTS=
      - TWILIO_ACCOUNT_SID=
      - TWILIO_AUTH_TOKEN=
      - GOOGLE_APPLICATION_CREDENTIALS=
    command: ./forever cron.py 
     
    
